// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";

body {
    font-family: "Sarabun", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Sarabun", sans-serif;
}

.box-header > .box-tools {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-delete {
    display: inline;
}

.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead > input {
    margin-top: 3px;
    height: 30px;
}

.tt-hint {
    color: #999;
}

.tt-menu {
    /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 250px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.tt-suggestion a {
    color: #000;
}

.label {
    display: block;
}
