hr.style {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 1px solid #ccc;
    color: #333;
    text-align: center;
}
hr.style:after {
    content: "หรือ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}

.thakam-btn {
    background-color: #00a65a;
}

.img-circle {
    width: 160px;
    height: 160px;
    max-height: 160px;
    max-width: 160px;
}

.user-panel > .image > img {
    max-height: 45px;
}
